html,
body {
  font-size: 10vw;
}

/* @media screen and (max-width: 320px) {

  html,
  body {
    font-size: 32PX;
  }

  html .wap__wrap {
    margin: 0 auto;
    min-width: 320PX;
  }
}

@media screen and (min-width: 481px) {

  html,
  body {
    font-size: 48PX;
  }

  html .wap__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 480PX;
  }
} */